load/*

# mcc command
bin/mcc
mcc/load/*
test/mcc/a.out
test/mcc/test.s
test/mcc/test.s.i

# mcpp command
bin/mcpp
mcpp/load/*
test/mcpp/output.h
test/mcpp/stdlib/correct_std_output.h
test/mcpp/stdlib/std_output.h
test/mcpp/self_host
# mcc1 command
bin/mcc1
mcc1/load/*
test/mcc1/a.out
test/mcc1/test.s
test/mcc1/test.s.i

bin/mlibc

test/tmp
test/tmp.s
test/test_func/*.o
test/a.out
test/test.s
test/tt.c
stdlib/asm/*
stdlib/load/*
